* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Caveat", cursive;
}

.App {
  padding: 5rem;
  width: 100%;
  min-height: 100vh;
  background-color: #00deb9;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
